.card {
  width: 200px;
  margin: 1rem;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.card:hover {
  transition: all ease-in-out 0.3s;
  transform: scale(1.1);
}

.imgCard {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.descriptionContainer p {
  text-align: center;
}